.navbar {
  background-color: transparent !important;
}

.nav-link {
  color: white !important;
}

.navbar-nav {
  gap: 25px;
  margin-inline-start: 40px;
}

.nav-right-content .box-1 .currency {
  color: white;
  font-weight: bold;
}

sup {
  position: absolute;
  left: -15px;
  top: -17px !important;
}

.nav-right-content {
  padding-block: 10px;
  justify-content: center;
  align-items: center;
}

.nav-right-content .box-1 a {
  color: white;
}

.nav-right-content .box-1 .cart-icon {
  color: white;
  font-weight: bold;
  position: relative;
}

.nav-right-content .box-1 .cart-icon i {
  font-size: 17px;
}

.nav-right-content .box-1 {
  display: flex;
  gap: 15px;
}

.nav-right-content .box-2 {
  color: white;
}

.nav-right-content .box-2 input {
  outline: none;
  padding: 5px 20px 5px 7px;
  border-radius: 5px;
  border: none;
  background-color: #f9f9f9;
}

.nav-right-content {
  display: flex;
  gap: 30px;
}

.container {
  max-width: 1290px !important;
}

.user-icon a {
  color: white;
}

