form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-main {
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding: 50px 100px;
  background-image: url("http://127.0.0.1:5500/img.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  backdrop-filter: blur(10px);
}
